<ng-template #deleteDayModal let-modal>
    <ng-container *ngIf="selectedDay">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete {{ selectedDay.title }}?</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body submissions-modal-body">
            <p>Are you sure you want to delete this day?</p>
        </div>
        <div class="modal-footer">
            <div class="w-100 d-flex justify-content-between">
                <button type="button" class="btn btn-danger" (click)="removeSelectedDay()">Delete</button>
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Close</button>
            </div>
        </div>
    </ng-container>
</ng-template>

<ng-template #addEditDayModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ selectedDay ? selectedDay.title : "Add Day" }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form #form class="dayForm" id="dayForm" [formGroup]="dayForm" (ngSubmit)="handleAddDay()" autocomplete="off">
            <div class="form-group mb-3">
                <label for="title">Day Title</label>
                <input class="form-control" formControlName="title" id="title" type="text" placeholder="New Day" />
            </div>
            <div class="form-group">
                <label class="form-label" for="image">Image</label>
                <select class="form-control" formControlName="image" id="image">
                    <option *ngFor="let option of imageOptions; let first = first" [selected]="first" [value]="option.value">{{option.title}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <ng-container *ngIf="selectedDay; else addButton;">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <button [disabled]="!dayForm.valid" type="button" class="btn btn-outline-success me-2" (click)="handleEditDay()">Save</button>
                    <button type="button" class="btn btn-outline-warning" (click)="resetDayForm()">Reset</button>
                </div>
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Close</button>
            </div>
        </ng-container>
        <ng-template #addButton>
            <div class="w-100 d-flex justify-content-between">
                <button [disabled]="!dayForm.valid" form="dayForm" type="submit" class="btn btn-primary">Add Day</button>
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Close</button>
            </div>
        </ng-template>
    </div>
</ng-template>

<ngb-alert *ngIf="error" #alert type="warning" [dismissible]="false">{{error.message}}</ngb-alert>

<div class="pb-5">
    <div [formGroup]="phaseForm" class="list-group program-accordion" ngbAccordion #accordion="ngbAccordion" [destroyOnHide]="false" >
        <ng-container formArrayName="days">
            <ng-container *ngFor="let day of phaseForm.controls['days'].controls; let dayIndex = index; let first = first;">
                <div class="list-group-item" [formGroupName]="dayIndex" [ngbAccordionItem]="'day'+dayIndex" [collapsed]="!first">
                    <button class="btn btn-link w-100 text-start ps-0" ngbAccordionHeader (click)="accordion.toggle('day'+dayIndex)">
                        <!-- <h5 class="my-0">{{ 'title' | titlecase }}</h5> -->
                        <h5 class="my-0">{{ dayTitle(dayIndex) | titlecase}}</h5>
                    </button>

                    <div ngbAccordionCollapse> 
                        <div ngbAccordionBody class="px-0 pb-0 pt-3">
                            <ng-template>
                                <span class="d-flex justify-content-between align-items-center pb-3">
                                    <button class="btn btn-outline-warning" (click)="openAddEditDayModal(dayIndex)">Edit Title</button>
                                    <button class="btn btn-outline-danger " (click)="openDeleteDayModal(dayIndex)">Remove</button>
                                </span>
                                
                                <app-admin-day-table
                                    [dayFormGroup]="getDay(dayIndex)"
                                    [dayIndex]="dayIndex"
                                    [tasks]="tasks"
                                    [uid]="uid"
                                ></app-admin-day-table>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class="list-group-item accorion-item">
            <button class="btn btn-link ps-0" (click)="openAddEditDayModal(null)"><h5 class="my-0">Add Day</h5></button>
        </div>

        <div class="list-group-item accorion-item py-3">
            <button class="btn btn-outline-success w-100" (click)="handleSave()">Save {{phase.title}}</button>
        </div>

    </div>
</div>