<div class="container-fluid ps-md-0 container-info">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-10 mx-auto">
                  
                  <h3 class="mb-4">Forgot Password?</h3>
                  <form class="form w-100 needs-validation" id="emailRequestForm" [formGroup]="emailRequestForm" (ngSubmit)="onSubmit()" novalidate>
                      <div class="form-group mb-3">
                          <label class="form-label">Email</label>
                          <input class="form-control" formControlName="email" type="text" placeholder="Email Address" [ngClass]="{ 'is-invalid': email?.touched && email?.errors, 'is-valid': email?.valid }"
                          autocomplete="email"/>
      
                          <div *ngIf="email && email.touched && email.errors" class="invalid-feedback">
                              <div *ngIf="email.errors['required']">
                                  Email is required.
                              </div>
                              <div *ngIf="email.errors['email']">
                                  Email isn't valid. Please enter a valid email.
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="d-flex justify-content-between mb-3">
                              <a class="link" [routerLink]="['/auth/signin']">Sign In</a>
                              <a class="link" [routerLink]="['/auth/email-signin']">Email Sign In</a>
                          </div>
      
                          <button class="btn w-100 mb-3" [ngClass]="sent ? 'btn-success' : 'btn-primary'" [disabled]="emailRequestForm.invalid || sent" type="submit">
                              {{ sent ?  'Request Sent' : 'Request New Password' }}
                          </button>
      
                          <ngb-alert *ngIf="errorMessage" #alert type="warning" [dismissible]="false">{{errorMessage}}</ngb-alert>
                      </div>
                  </form>   

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>