.container-info {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    min-height: calc(100vh - 66px);
}

.bg-image {
    min-height: calc(100vh - 66px);
    background-size: cover;
    background-position: center;
    background-image: url('../../../../../assets/images/jochum-joy-b-w.jpg');
    background-repeat: no-repeat;
    filter: invert(25%) sepia(10%) saturate(500%) hue-rotate(282deg) brightness(70%) contrast(95%);
}
