<ng-template #template>
    <div class="navbar-nav">
        <a class="d-none d-lg-block d-xl-block nav-link my-auto ms-2" [routerLink]="['/auth/subscribe']" (click)="onSelect()">
            Sign Up
        </a>
    </div>

    <button class="navbar-toggler"
        type="button"
        label="Navbar menu toggle"
        (click)="onToggle()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="collapsed" class="collapse navbar-collapse justify-content-end">
        <div class="ms-auto navbar-nav" (select)="onSelect()">
            <app-navigation-login-form ngbDropdownItem></app-navigation-login-form>
            <a ngbDropdownItem class="d-lg-none d-xl-none nav-link my-auto" [routerLink]="['/auth/subscribe']" (click)="onSelect()">Sign Up</a>
            <a ngbDropdownItem class="d-lg-none d-xl-none nav-link my-auto" [routerLink]="['/auth/signin']" (click)="onSelect()">Sign In</a>
        </div>
    </div>
</ng-template>
