<h3 class="text-center d-none d-md-block">{{ startOfWeekFormatted }} - {{ endOfWeekFormatted }}</h3>
<div class="d-flex justify-content-between date-circles">

    <button (click)="changeQueryDate(prevWeekUnix)"
        class="date previous d-flex align-items-center justify-content-center">
        <div>
            <div>&#8249;</div>
        </div>
    </button>

    <div class="d-flex d-md-none align-items-center justify-content-center">
        <h4 class="text-center pb-0 mb-0">{{ startOfWeekFormatted }} - {{ endOfWeekFormatted }}</h4>
    </div>

    <ng-container *ngFor="let day of daysOfWeek; let i = index;">
        <button
            (click)="changeQueryDate(day.startOfUnix, true)"
            class="date d-none d-md-flex align-items-center justify-content-center"
            [class.disabled]="day.startOfUnix > startOfCurrentDayUnix"
            [class.future-date]="day.startOfUnix > startOfCurrentDayUnix"
            [class.current-date]="day.startOfUnix === startOfCurrentDayUnix"
            [class.query-date]="day.startOfUnix === startOfQueryDayUnix"
            [disabled]="day.startOfUnix > startOfCurrentDayUnix">
            <div>
                <div class="day">{{day.day}}</div>
                <div class="month">{{day.month}}</div>
            </div>
        </button>
    </ng-container>

   <button
      (click)="changeQueryDate(nextWeekUnix)"
      class="date next d-flex align-items-center justify-content-center"
      [class.disabled]="nextWeekUnix > currentWeekUnix"
      [disabled]="nextWeekUnix > currentWeekUnix"      
      >
      <div>
         <div>&#8250;</div>
      </div>
   </button>
</div>
