<div class="hero">
    <img
        class="hero-img w-100"
        src="../../../../../assets/images/carousel6.jpg"
        alt="Jochum Strength coach teaching a class."
    />
    <div class="hero-wrapper">
        <div class="hero-content-wrapper">
        <div class="hero-content">
            <h1 class="hero-title">Jochum Strength Insider</h1>
            <p class="hero-caption">Our Online Training Platform For People Looking To Level Up Their Lives!</p>
        </div>
        </div>
        <div class="hero-footer">
            <a href="#features" class="learn-more-button">Learn More</a>
        </div>
    </div>
</div>