<ng-template #editProgramModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit {{ program.title | titlecase }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form #form class="programForm" id="programForm" [formGroup]="programForm" (ngSubmit)="updateProgram()" autocomplete="off">
            <div class="form-group mb-3">
                <label for="title">Title</label>
                <input class="form-control" formControlName="title" id="exercise" type="text" placeholder="New Exercise" maxlength="200"/>
            </div>
            <div class="form-group">
                <label class="form-label">Folder</label>
                <select class="form-control" formControlName="folder" >
                    <option value="">Uncategorized</option>
                    <option *ngFor="let folder of foldersList;" [value]="folder.id">{{folder.title}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <button form="programForm" [disabled]="!programForm.valid" type="submit" class="btn btn-outline-success me-2">Save</button>
                <button type="button" class="btn btn-outline-warning" (click)="resetProgramForm()">Reset</button>
            </div>
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Close</button>
        </div>
    </div>
</ng-template>

<h3 class="header-button" (click)="openEditProgramModal()">{{ program ? program.title : 'Program' | titlecase }}</h3>
<div *ngIf="program">
    <app-admin-program-table [program]="program" [tasks]="tasksList" [uid]="uid" (savePhase)="handleSavePhase($event)"></app-admin-program-table>
</div>