<ng-container *ngIf="authUser$ | async as authUser">
    <ng-container *ngIf="authUser.ACTIVE; else inActive">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div class="contain-width px-1">
                    <div class="app-top">
                        <app-verify-email-card *ngIf="!authUser.emailVerified"></app-verify-email-card>
                        <app-survey-submitted-card *ngIf="!authUser.surveySubmitted"></app-survey-submitted-card>
                        <app-program-container [user]="authUser"></app-program-container>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #inActive>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-12 col-md-6 mx-auto">
                    <div class="card mt-5">
                        <div class="card-header text-center">
                            <strong>Account Status</strong>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-center">
                                Your Account is currently deactivated. To reactivate your account please <a class="p-link" [routerLink]="['../auth/resubscribe']">click here to resubscribe</a> or reach out to jochumstrength@gmail.com for more information.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>