.user-unread-icon {
  fill: rgb(255, 255, 255, 0.5);
  transition: fill 150ms;
}

.user-unread-icon:hover,
.user-unread:focus .user-unread-icon {
  fill: rgb(255, 255, 255, 0.75);
}

.user-unread {
  position: relative;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: white;
}

.user-unread .badge {
  position: absolute;
  background-color: var(--js-purple-light);
  top: -5px;
  right: -8px;
  border-radius: 50px;
  color: white;
}