<div class="container">
    <div class="d-flex justify-content-center">
        <div class="contain-width">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-10 col-lg-8 mx-auto px-md-0">
                    <div class="app-top">
                        <div *ngIf="authUser$ | async as authUser">
                            <app-questionnaire-container [user]="authUser"></app-questionnaire-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>