<ng-container [formGroup]="dayFormGroup">

    <form [id]="'dayForm-'+dayIndex" class="mb-3" autocomplete="off">
        <div class="input-group line-container">
            <div class="cell left input-group-text">
                <span>{{selectedCell ? selectedCell.number : '1A'}}</span>
                <span>{{selectedCell ? selectedCell.name : 'Number'}}</span>
            </div>
            <!-- Value isn't binding -->
            <app-auto-complete
                *ngIf="(selectedCell && selectedCell.name) === 'Description'; else baseInput;"
                [tasks]="tasks"
                [value]="selectedDaysCellValue()"
                (selectionChange)="handleSelectionChanged($event)"
                (changed)="handleValueChanged($event)"
                inputClass="form-control cell right"
            ></app-auto-complete>
            <ng-template #baseInput>
                <input
                    [id]="'searchInput-'+dayIndex"
                    [formControl]="inputCtrl"
                    type="text"
                    class="form-control cell right"
                />
            </ng-template>
        </div>
    </form>

    <table class="table table-responsive table-bordered table-striped sm">
        <thead>
            <tr style="position: relative;">
                <th class="text-center dth-number">#</th>
                <th class="text-center dth-description">Description</th>
                <th class="text-center dth-link">Link</th>
                <th class="text-center dth-sets">Sets</th>
                <th class="text-center dth-reps">Reps</th>
                <th class="text-center dth-tempo">Tempo</th>
                <th class="text-center dth-rest">Rest</th>

                <ng-container *ngIf="uid">
                    <th class="text-center dth-w1">w1</th>
                    <th class="text-center dth-w2">w2</th>
                    <th class="text-center dth-w3">w3</th>
                </ng-container>

                <th class="text-center dth-btn">
                    <span role="img" aria-label='Delete'>&#10060;</span>
                </th>
            </tr>
        </thead>

        <tbody formArrayName="exercises">
            <ng-container *ngFor="let exercise of daysExercises.controls; let rowIndex = index">
                <tr [formGroupName]="rowIndex">
                    <td>
                        <input
                            type="text"
                            name="Number"
                            class="data-grid-control"
                            formControlName="Number"
                            (click)="setCurrentCell(rowIndex, 'Number')"
                        />
                    </td>
                    <td class="data-grid-control">
                        <app-auto-complete
                            [value]="getExerciseValue(rowIndex, 'Description')"
                            [tasks]="tasks"
                            (clicked)="setCurrentCell(rowIndex, 'Description')"
                            (changed)="handleValueChanged($event)"
                            (selectionChange)="handleSelectionChanged($event)"
                        ></app-auto-complete>
                    </td>
                    <td>
                        <input
                            type="text"
                            name="Link"
                            class="data-grid-control"
                            formControlName="Link"
                            (click)="setCurrentCell(rowIndex, 'Link')"
                        />
                    </td>
                    <td>
                        <input
                            type="text"
                            name="Sets"
                            class="data-grid-control"
                            formControlName="Sets"
                            (click)="setCurrentCell(rowIndex, 'Sets')"
                        />
                    </td>
                    <td>
                        <input
                            type="text"
                            name="Reps"
                            class="data-grid-control"
                            formControlName="Reps"
                            (click)="setCurrentCell(rowIndex, 'Reps')"
                        />
                    </td>
                    <td>
                        <input
                            type="text"
                            name="Tempo"
                            class="data-grid-control"
                            formControlName="Tempo"
                            (click)="setCurrentCell(rowIndex,'Tempo')"
                        />
                    </td>
                    <td>
                        <input
                            type="text"
                            name="Rest"
                            class="data-grid-control"
                            formControlName="Rest"
                            (click)="setCurrentCell(rowIndex, 'Rest')"
                        />
                    </td>

                    <ng-container *ngIf="uid" formGroupName="tracking">
                        <td class="vertical-align-center">
                            <input
                                type="text"
                                name="week 1"
                                class="data-grid-control"
                                formControlName="week 1"
                            />
                        </td>
                        <td class="vertical-align-center">
                            <input
                                type="text"
                                name="week 2"
                                class="data-grid-control"
                                formControlName="week 2"
                            />
                        </td>
                        <td class="vertical-align-center">
                            <input
                                type="text"
                                name="week 3"
                                class="data-grid-control"
                                formControlName="week 3"
                            />
                        </td>
                    </ng-container>

                    <td class="vertical-align-center">
                        <button
                            class="btn btn-outline-danger"
                            (click)="handleRemoveSpecificRow(rowIndex)"
                        >
                            &#215;
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <form class="form" [id]="'select-form-'+dayIndex" autocomplete="off">
        <div class="form-group">
            <div class="form-label">Add Row at Position</div>
            <div class="input-group mb-3">
                <button (click)="handleAddRow()" type="button" class="btn btn-outline-secondary px-5">
                    Add
                </button>
                <select class="form-control" [(ngModel)]="addAtIndex" name="row-index">
                    <option *ngFor="let option of daysExercises.controls; let optionIndex = index;" [value]="optionIndex">{{optionIndex}}</option>
                    <option value="-1">End of Table</option>
                </select>
            </div>
        </div>
    </form>
</ng-container>


<!--


<Table responsive bordered striped size="sm" >
    <thead>
        <tr style={{ position: "relative" }}>
            <th className="text-center  dth-number">#</th>
            <th className="text-center  dth-description">Description</th>
            <th className="text-center  dth-link">Link</th>
            <th className="text-center  dth-sets">Sets</th>
            <th className="text-center  dth-reps">Reps</th>
            <th className="text-center  dth-tempo">Tempo</th>
            <th className="text-center  dth-rest">Rest</th>
            {showTracking && (
            <>
                <th className="text-center dth-w1">w1</th>
                <th className="text-center dth-w2">w2</th>
                <th className="text-center dth-w3">w3</th>
            </>
            )
            }

            <th className="text-center  dth-btn"><span role="img" aria-label='Delete'>&#10060;</span></th>
        </tr>
    </thead>

    <tbody>
        {dayRows.map((item, rowIndex) => (
            <tr id="addr0" key={rowIndex}>
            <td>
                <input
                    type="text"
                    name="Number"
                    value={item["Number"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Number", item["Number"])}
                    className="data-grid-control"
                />
            </td>
            <td className="data-grid-control" onClick={this.setCurrentCell(key, rowIndex, "Description", item["Number"])}>
                <SearchBar suggestions={this.props.tasks} initialValue={item["Description"]} onChange={this.handleSearchChange(rowIndex, key, "Description")} />
            </td>
            <td>
                <input
                    type="text"
                    name="Link"
                    value={item["Link"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Link", item["Number"])}
                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Sets"
                    value={item["Sets"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Sets", item["Number"])}
                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Reps"
                    value={item["Reps"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Reps", item["Number"])}

                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Tempo"
                    value={item["Tempo"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Tempo", item["Number"])}

                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Rest"
                    value={item["Rest"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Rest", item["Number"])}
                    className="data-grid-control"
                />
            </td>

            {showTracking && (
                <>
                    <td className="vertical-align-center">
                        {item["tracking"]["week 1"]}
                    </td>
                    <td className="vertical-align-center">
                        {item["tracking"]["week 2"]}
                    </td>
                    <td className="vertical-align-center">
                        {item["tracking"]["week 3"]}
                    </td>
                </>
            )
            }

            <td className="vertical-align-center">
                <Button
                    variant={"outline-danger"}
                    onClick={this.handleRemoveSpecificRow(rowIndex, key)}
                >
                    &#215;
        </Button>
            </td>
            </tr>
        ))}
    </tbody>
</Table>
-->
