<div class="day-table list-group flush">
    <div class="list-group-item d-none d-sm-none d-md-block">
       <div class="row">
          <div class="col col-xs-12 col-md-1">#</div>
          <div class="col col-xs-12 col-md-3">Description</div>
          <div class="col col-xs-12 col-md-1">Link</div>
          <div class="col col-xs-12 col-md-1">Sets</div>
          <div class="col col-xs-12 col-md-2">Reps</div>
          <div class="col col-xs-12 col-md-2">Tempo</div>
          <div class="col col-xs-12 col-md-1">Rest</div>
          <div class="col col-xs-12 col-md-1"></div>
       </div>
    </div>
</div>

<!--
<EditCellForm
    value={days[currentCell.dayIndex] ? days[currentCell.dayIndex].exercises[currentCell.rowIndex][currentCell.name] : ""}
    tasks={this.props.tasks}
    dayIndex={currentCell.dayIndex}
    rowIndex={currentCell.rowIndex}
    name={currentCell.name}
    number={currentCell.number}
    handleChange={this.handleChange(currentCell.rowIndex, currentCell.dayIndex)}
    handleSearchChange={this.handleSearchChange(currentCell.rowIndex, currentCell.dayIndex, "Description")}
/>

<Table responsive bordered striped size="sm" >
    <thead>
        <tr style={{ position: "relative" }}>
            <th className="text-center  dth-number">#</th>
            <th className="text-center  dth-description">Description</th>
            <th className="text-center  dth-link">Link</th>
            <th className="text-center  dth-sets">Sets</th>
            <th className="text-center  dth-reps">Reps</th>
            <th className="text-center  dth-tempo">Tempo</th>
            <th className="text-center  dth-rest">Rest</th>
            {showTracking && (
            <>
                <th className="text-center dth-w1">w1</th>
                <th className="text-center dth-w2">w2</th>
                <th className="text-center dth-w3">w3</th>
            </>
            )
            }

            <th className="text-center  dth-btn"><span role="img" aria-label='Delete'>&#10060;</span></th>
        </tr>
    </thead>

    <tbody>
        {dayRows.map((item, rowIndex) => (
            <tr id="addr0" key={rowIndex}>
            <td>
                <input
                    type="text"
                    name="Number"
                    value={item["Number"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Number", item["Number"])}
                    className="data-grid-control"
                />
            </td>
            <td className="data-grid-control" onClick={this.setCurrentCell(key, rowIndex, "Description", item["Number"])}>
                <SearchBar suggestions={this.props.tasks} initialValue={item["Description"]} onChange={this.handleSearchChange(rowIndex, key, "Description")} />
            </td>
            <td>
                <input
                    type="text"
                    name="Link"
                    value={item["Link"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Link", item["Number"])}
                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Sets"
                    value={item["Sets"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Sets", item["Number"])}
                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Reps"
                    value={item["Reps"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Reps", item["Number"])}

                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Tempo"
                    value={item["Tempo"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Tempo", item["Number"])}

                    className="data-grid-control"
                />
            </td>
            <td>
                <input
                    type="text"
                    name="Rest"
                    value={item["Rest"]}
                    onChange={this.handleChange(rowIndex, key)}
                    onClick={this.setCurrentCell(key, rowIndex, "Rest", item["Number"])}
                    className="data-grid-control"
                />
            </td>

            {showTracking && (
                <>
                    <td className="vertical-align-center">
                        {item["tracking"]["week 1"]}
                    </td>
                    <td className="vertical-align-center">
                        {item["tracking"]["week 2"]}
                    </td>
                    <td className="vertical-align-center">
                        {item["tracking"]["week 3"]}
                    </td>
                </>
            )
            }

            <td className="vertical-align-center">
                <Button
                    variant={"outline-danger"}
                    onClick={this.handleRemoveSpecificRow(rowIndex, key)}
                >
                    &#215;
        </Button>
            </td>
            </tr>
        ))}
    </tbody>
</Table>
-->
