<form class="form w-100 needs-validation"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="submit()"
    novalidate
    autocomplete="off">
    <div class="form-group">
        <div class="mb-3">
            <label class="form-label" for="currentPassword">Current Password</label>
            <input 
                class="form-control"
                id="currentPassword"
                formControlName="currentPassword"
                type='password'
                placeholder="Current Password"
                [ngClass]="{ 'is-invalid': f['currentPassword'].touched && f['currentPassword'].errors, 'is-valid': f['currentPassword'].valid }"
            />
            <div *ngIf="f['currentPassword'].touched && f['currentPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['currentPassword'].errors['required']">
                    Password is required
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex justify-content-between">
                <label class="form-label" for="newPassword">New Password</label>
                <div class="float-right show-pssw" (click)="showPassword = !showPassword">
                    <i *ngIf="showPassword" class="fas fa-eye-slash"></i>
                    <i *ngIf="!showPassword" class="fas fa-eye"></i>
                </div>
            </div>
            <input 
                class="form-control"
                id="newPassword"
                formControlName="newPassword"
                [type]="showPassword ? 'text' : 'password'"
                placeholder="New Password"
                [ngClass]="{ 'is-invalid': f['newPassword'].touched && f['newPassword'].errors, 'is-valid': f['newPassword'].valid }"
            />
            <div *ngIf="f['newPassword'].touched && f['newPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['newPassword'].errors['required']">
                    Password is required
                </div>
                <div *ngIf="f['newPassword'].errors['minlength']">
                    Password must be at least 7 characters long.
                </div>
            </div>
        </div>

        <button class="btn btn-primary w-100" [disabled]="resetPasswordForm.invalid || sent" type="submit">
            Reset Password
        </button>
    </div>
</form>