<ng-template #template>
    <div class="d-flex">
        <a *ngIf="authUser.emailVerified" [routerLink]="['/messages']" class="d-flex justify-content-center align-items-center me-3 px-2">
            <app-message-icon [uid]="authUser.id" />
        </a>
        <button class="navbar-toggler"
                type="button"
                label="Navbar menu toggle"
                (click)="onToggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div [ngbCollapse]="collapsed" class="collapse navbar-collapse">
        <div class="navbar-nav me-auto">
            <a class="nav-link" [routerLink]="['/program']" (click)="onSelect()">Program</a>
            <a *ngIf="authUser.ACTIVE" class="nav-link" [routerLink]="['/weigh-in']" (click)="onSelect()">Weight</a>
            <a *ngIf="authUser.ACTIVE" class="nav-link" [routerLink]="['/diet-sheet']" (click)="onSelect()">Diet</a>
            <a *ngIf="authUser.ACTIVE" class="nav-link" [routerLink]="['/messages']" (click)="onSelect()">Messages</a>

            <div *ngIf="authUser.ADMIN" class="d-inline-block" ngbDropdown #adminDrop="ngbDropdown">
                <button 
                    id="adminDropdown"
                    type="button"
                    class="nav-link dropdown-toggle btn btn-link"
                    ngbDropdownAnchor
                    (focus)="adminDrop.open()"
                    >
                    Admin
                </button>
                <div ngbDropdownMenu aria-labelledby="adminDropdown" class="dropdown-menu dropdown-menu-end">
                    <a ngbDropdownItem class="dropdown-item ignore-active" [routerLink]="['/admin/users']"
                        (click)="onSelect()">Users</a>
                    <a ngbDropdownItem class="dropdown-item ignore-active" [routerLink]="['/admin/folders/list']"
                        (click)="onSelect()">Programs</a>
                    <a ngbDropdownItem class="dropdown-item ignore-active" [routerLink]="['/admin/resources']"
                        (click)="onSelect()">Resources</a>
                    <a ngbDropdownItem class="dropdown-item ignore-active" [routerLink]="['/admin/exercises']"
                        (click)="onSelect()">Exercises</a>
                    <a ngbDropdownItem class="dropdown-item ignore-active" [routerLink]="['/admin/codes']"
                        (click)="onSelect()">Codes</a>
                </div>
            </div>
        </div>
        <div class="navbar-nav">
            <div class="d-inline-block">
                <div *ngIf="authUser.isAdmin">
                    <app-admin-unread />
                </div>
                <div class="d-inline-block" ngbDropdown #userDrop="ngbDropdown">
                    <button 
                        id="userDropdown"
                        type="button"
                        class="nav-link dropdown-toggle btn btn-link"
                        ngbDropdownAnchor
                        (focus)="userDrop.open()"
                    >
                            {{authUser.username}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="userDropdown" class="dropdown-menu dropdown-menu-end">
                        <a ngbDropdownItem [routerLink]="['/account']">Account</a>
                        <div class="dropdown-divider" role="separator"></div>
                        <div ngbDropdownItem>
                            <app-sign-out-button></app-sign-out-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
