<div class="video-section">
    <div class="container">
      <div class="row"
        class="d-flex justify-content-center align-items-center no-padding"
      >
        <div class="col mx-0 px-0">
          <div class="videoWrapper">
            <iframe src='https://www.youtube.com/embed/1sccYISTRQs?controls=0'
              frameBorder='0'
              allow='autoplay; encrypted-media'
              allowFullScreen
              title='video'
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>