<div class="row program-section" >
    <div class="col col-xs-12 col-md-6 d-flex my-auto align-items-center justify-content-center">
      <div class='program-section-container'>
        <h3 class="program-section-title" >Online Training Experience</h3>
        <p class="program-section-caption" >
          Jochum Strength Insider provides online access to all its features through a responsive mobile experience.
        </p>
        <a href="/subscribe" class="learn-more-button">Sign Up</a>
      </div>
    </div>
    <div  class="col col-xs-12 col-md-6 d-flex my-auto align-items-center justify-content-center">
      <div class=" d-flex my-auto align-items-center justify-content-center program-section-container">
        <img class="program-section-img" src="../../../../../assets/images/iphones.png" alt="Iphones showing the Jochum Strength website." />
      </div>
    </div>
  </div>