<div class="landing-sign-up">
    <img
      class="landing-sign-up-img w-100"
      src="../../../../../assets/images/jochum-join.jpg"
      alt="Jochum Strength coach teaching a class."
    />
    <div class="landing-sign-up-wrapper d-flex justify-content-end">
      <div class="landing-sign-up-content-wrapper col-md-12 col-12">
        <div class="landing-sign-up-content">
          <h2 class="landing-sign-up-title text-center pt-4 mt-4 ">Jochum Strength Insider</h2>
          <p class="landing-sign-up-caption d-none d-sm-block">Our Online Training Platform For People Looking To Level Up Their Lives!</p>
          <ul class="fa-ul landing-sign-up-list">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Programs That Fit Your Goals</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Jochum Strength Elite Diet Guideline Ebook</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Weight and Diet Tracking Within App</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Contact With Jochum Strength Coach</li>
          </ul>
          <p class="landing-sign-up-for d-none d-sm-none d-md-block">For Coaches, Ex-Athletes and People looking to unlock their inner-movers by feeling better, moving better and looking better!</p>
          <div class="d-flex justify-content-center pb-4 mb-4">
            <a href="/auth/subscribe" class="learn-more-button">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>