/* You can add global styles to this file, and also import other style files */

:root {
    --js-purple: #412a34;
    --js-purple-light: #a76884;
    --js-gray: #1a1a1a;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Raleway, "Helvetica Neue", sans-serif; }
