<div class="messages">
    <div #scrollContain class="messageContainer container-fluid ">
        <div *ngIf="loading">Loading ...</div>

        <button *ngIf="firstDateNotIncluded && enoughMessages" class="btn btn-outline-primary mt-3 messageLoadMore w-100" (click)="loadMore()">Load More</button>
        
        <app-messages-list [messages]="messages" [uid]="uid"></app-messages-list>
        <div class="mb-3" #scrollBottom></div>
    </div>
    <app-messages-form (sendMessageClicked)="handleSendMessage($event)"></app-messages-form>
</div>
