<ng-template #addModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Add Diet Sheet</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form class="form" id="dateForm" [formGroup]="dateForm" (ngSubmit)="addDateSheet()" autocomplete="off">
            <div class="mb-1">Date</div>
			<div class="form-group mb-3">
				<label class="sr-only" for="date">Add Date Sheet</label>
                <input
                    class="form-control"
                    formControlName="date"
                    type="date"
                    max="{{ currentDate | date: 'yyyy-MM-dd' }}"
                    readonly
                />
			</div>
            <button [disabled]="alreadyCheckedIn" type="submit" class="btn btn-primary">Add Page</button>
		</form>
	</div>
</ng-template>

<div class="card date-select-card">
    <img *ngIf="!adminUser" class="card-img-top" src="../../../../assets/images/diet.jpg" />
    <div class="card-body">
        <app-diet-date-circles [queryDate]="queryDate" [isAdmin]="adminUser !== null" (queryDateChanged)="handleChangeQueryDate($event)"></app-diet-date-circles>
    </div>
</div>

<div ngbAccordion [destroyOnHide]="false" #accordion="ngbAccordion" class="accordion mb-5">
    <div *ngFor="let diet of diets; let i = index;" [ngbAccordionItem]="diet.id" #panel class="card date-card my-3 rounded">
        <div [tabIndex]="0" ngbAccordionHeader (click)="accordion.toggle(diet.id)" (keydown.enter)="accordion.toggle(diet.id)">
            <div class="card-body bg-purple" > 
                <div class="d-flex justify-content-between">
                    <h3 class="day-name" tabIndex="0" style="color: white;">{{ diet.createdAt | date: 'EEEE' }}</h3>
                    <div class="date d-flex align-items-center justify-content-center">
                        <div>
                            <div class="day">{{ diet.createdAt | date: 'dd' }}</div>
                            <div class="month">{{ diet.createdAt | date: 'MMM' }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngbAccordionCollapse class="accordion-collapse card-collapse">
            <div ngbAccordionBody >
                <ng-template>
                    <app-diet-form-row [diet]="diet" [isAdmin]="adminUser !== null" (saveDiet)="handleSaveDiet($event)"></app-diet-form-row>
                </ng-template>
            </div>
        </div>
    </div>
</div>